{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
Posts
{% endblock title %}

{% block content %}

{% include 'auth.html' %}

    <h1>Список публикаций</h1>
    <h4>Всего публикаций на странице {{ posts|length }}</h4>
    <hr>

   <h1 class="text-center">Все публикации<span class="text-muted fs-6 fw-normal">Всего: {{ page_obj.paginator.count }}</span></h1>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    {% if not is_not_subscriber %}
        <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">отписаться</a></p>
    {% endif %}
<hr>

 {% if category_news_list %}

        {% for post in category_news_list %}
        <table border = 0 width = 100%>
            <tr>
                <td align="left">
                    <b>{{ post.dt_of_publication}}</b>
                    <a href="/posts/{{post.pk}}">{{ post.title|truncatechars:50|censor }}</a>
                    <br>
                    {% for cat in post.category.all %}
                    категория:
                    <a href="{% url 'category_list' cat.id %}"><b>{{ cat }}</b></a>
                    {% endfor %}
                    <br>
                    {{ post.text|truncatechars:200|censor }}

                </td>
            </tr>
        </table>
        <hr>
        {% endfor %}

    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}


    {# Добавляем пагинацию #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
